<!DOCTYPE html>
<html lang="en">

<head>
    <title>TinyApp</title>
    <!--
    <script src="../scripts/scripts.js"></script>
    -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <style>
        tr.spaceUnder>td {
            padding-bottom: 1em;
        }
        
        table#urllist {
            border-collapse: separate;
            border-spacing: 0 5px;
        }
    </style>
</head>

<body>
    <div class="container">
        <%- include('./partials/_headers') %>
            <h2><b>Your Tiny URL's</b> </h2>
            <div class="putStatusHere"></div>

            <table id="urllist" class="table" width="600" cellspacing="0">
                <thead>
                    <tr>
                        <th><b> Shorted URLS</b></th>
                        <th><b>Original URLS</b></th>
                        <th><b>Modify</b></th>
                    </tr>
                </thead>

                <tbody>
                    <% for (var url in urls) { %>
                        <tr>
                            <td>
                                <a href="/u/<%= url %>">
                                    <%= url %>
                                </a>
                            </td>
                            <td>
                                <%= urls[url] %>
                            </td>
                            <td>
                                <div class="inner" style="display: inline-block;">
                                    <form action="/urls/<%= url %>">
                                        <input type="submit" class="btn btn-primary" value="Edit" style="display: inline;" />
                                    </form>
                                </div>
                                <div class="inner" style="display: inline-block;">
                                    <form id="delete" method="POST" action="/urls/<%= url %>/delete">
                                        <button type="delete" form="delete" class="btn btn-danger" value="Delete" style="display: inline;">Delete</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        <tr class="spaceUnder">
                            <% } %>
                </tbody>

            </table>

            <p> Go <a href="/urls/new">here</a> to shorten another URL!</p>
    </div>
</body>

</html>

<script>
    $(document).ready(function() {

        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            //sURLVariables = sPageURL.split('&'),
            sParameterName;
        console.log(sPageURL);

        sParameterName = sPageURL.split('=');
        console.log(sParameterName);
        if (sParameterName[0] === "alert") {
            sParameterName[1] === undefined ? true : sParameterName[1];
        }


        //console.log("Check response, update alert message.");
    });
</script>